* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: #020A18;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1146px;
}

.header {
  font-family: "Open Sans", sans-serif;
  background: #08181D;
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
}
.header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.header .nav .nav-link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 39px 5px;
  border-radius: 10px;
}
.header .nav .nav-link:hover {
  background: #3E3AB8;
}

.main {
  font-family: "Open Sans", sans-serif;
}
.main .main-page {
  background: #08181E;
}
.main .main-page .main-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 128px;
  padding-top: 260px;
  padding-bottom: 100px;
}
.main .main-page .main-page-content .main-title {
  color: #3A68B8;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28.8px;
  text-transform: uppercase;
}
.main .main-page .main-page-content .main-subtitle {
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 71.5px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.main .main-page .main-page-content .main-paragraph {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28.8px;
  opacity: 0.7;
  max-width: 558px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.main .main-page .main-page-content .main-page-buttons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.main .main-page .main-page-content .main-page-buttons .main-button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  background: #3A68B8;
  border-radius: 5px;
  border: none;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
.main .main-page .main-page-content .main-page-buttons .main-button:hover {
  background: #3E3AB8;
}
.main .main-page .main-page-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
  padding: 99px 0;
}
.main .ai-deepl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 68px;
  padding-top: 157px;
  padding-bottom: 132px;
}
.main .ai-deepl .ai-deepl-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 15px;
}
.main .ai-deepl .ai-deepl-paragraph {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25.6px;
  opacity: 0.7;
  padding-top: 15px;
  padding-bottom: 50px;
}
.main .ai-deepl .ai-deepl-button {
  display: flex;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;
  background: #3A68B8;
  border-radius: 5px;
  border: none;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.main .ai-deepl .ai-deepl-button:hover {
  background: #3E3AB8;
}
.main .features-grid {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 30px;
  padding-top: 132px;
  padding-bottom: 121px;
}
.main .features-grid .features {
  background: #132035;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
}
.main .features-grid .features .feature-title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31.25px;
  text-align: center;
}
.main .features-grid .features .feature-p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  opacity: 0.7;
}
.main .features-grid .feature4 {
  grid-area: 2/1/4/3;
}
.main .about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 121px;
  padding-bottom: 221px;
}
.main .about .about-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.main .about .about-txt .about-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 20px;
}
.main .about .about-txt .about-p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25.6px;
  opacity: 0.7;
  max-width: 460px;
}

.footer {
  font-family: "Roboto", sans-serif;
  background: #08101E;
}
.footer .footer-frame {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px 0;
}
.footer .footer-frame .footer-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 17px;
}
.footer .footer-frame .footer-minor-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-top: 16px;
  width: 261px;
}
.footer .footer-frame .footer-minor-frame .footer-info-p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.footer .footer-frame .footer-minor-frame .footer-desc-p {
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.6;
}
.footer .footer-frame .footer-minor-frame .footer-about-link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.footer .footer-frame .footer-minor-frame .footer-about-socials {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  opacity: 0.6;
}